.hero_section {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {
        width: 300px;
        position: absolute;
        left: calc(50% - 150px);
        top: 10%;
    }

    h1 {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        top: 40%;
    }

    .hero_img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .hero_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.1;
    }

    .hero_nav {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            list-style: none;
            li {
                color: white;
                padding: 15px;
                font-weight: bold;
                font-family: sans-serif;
            }
        }
    }

}
