.dd-select {
    background-color: turquoise;
    border: 0px !important;
    width: 60px !important;
    height: 30px !important;
    background: transparent !important;

    span {
        border-top: solid 5px #fcfcfc !important;
    }
}

.dd-container {
    width: 60px !important;
    height: 30px !important;
    background: transparent !important;

    ul {
        width: 60px !important; 
        box-shadow: none !important;
        background: #1c1e1c !important;
        border: none !important;
        
        li {
            border: none !important;
            margin-bottom: 5px !important;
            height: 40px !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;

            img {
                width: 20px !important;
            }
        }
    }
}

.dd-selected {
    width: 60px !important;
    background-color: transparent !important;
    height: 30px !important;
    display: flex !important;
    align-items: center !important;
}

.dd-selected-image {
    width: 20px !important;
}

.dd-option-selected{
    background: none !important;
    opacity: 0.5;
}

@media (max-width: 767px) {
    .dd-container {
        ul {
            padding-left: 0px !important;
            
            li {
                margin-left: 0px !important;
    
                img {
                    width: 20px !important;
                }
            }
        }
    }

}